.Appbar{


}
.gambarLogo {
  width: 60px;
  margin: 7px;

 }


.slider {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 350px;
  border-radius: 2rem;
  object-fit: cover;
 
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 3 rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  
}

.left-arrow{
  position: absolute;
  top: 50%;
  left:0%;
  font-size: 3 rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
 
}

.slide{
  opacity : 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);

}

.img__description {
  position: absolute;
  top: 0;
  bottom: 1;
  left: 0;
  right: 0;
  background: rgba(21, 22, 22, 0.72);
  color: rgb(223, 223, 223);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  height: 40px;
 


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.slide.active:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.judul{

 margin-top: 3vh;
 margin-bottom: 3vh;
}

.List{
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
  color: white;

}

.kartu{
min-height: 15rem;
border-radius: 2 rem;
overflow: hidden;
position: relative;

}
.gambarCard{
  object-fit: cover;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;

}
.p{
  position: absolute;
  z-index:10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1 rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail{
  margin-right:0rem;
  width: 50%;
}

.note{
  border-style: solid;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border-width: 2px;
}
.logoG{
  width:8%;
  margin-right: 22px;
}
.link{
  text-decoration: none;
}
.link:hover{
  color: #ee67aa;
}
.footer{
  margin-top: 3rem;
  
  text-align: center;
  background-color: #313131;
  color: white;
  height: 4rem;;
}
.foot{
  color: white;
  justify-content: center;
  padding-top: 1.5rem;
  font-size: 0.8rem;
}
